.service-card {
  display: flex;
  flex-direction: column;
  border: .25rem solid $primary-color;
  padding: 1rem;
  cursor: pointer;
  max-width: $max-width - 2rem;
  margin: 0.5rem auto;

}

.service-card span{
  padding: 0;
  vertical-align: middle;
}

.service-header {
  font-size: $h2-font-size;
  font-weight: bold;
}

.expand-icon {
  padding: 0;
  margin-right: $readable-margin;
}

.service-content {
  margin-top: $readable-margin;
}

.service-content img {
  max-width: $logo-width;
  margin-left: $readable-margin;
  float: right;
}

.service-content p {
  word-wrap: break-word;
  text-align: justify;
}