.service-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: .25rem solid $primary-color;
  padding: 1rem;
  cursor: pointer;
  max-width: 67rem;
  margin: 0.5rem auto;
}

.service-card.expanded {
  background-color: white;
}

.service-card .service-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.service-card .service-details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.service-card .service-details img {
  max-width: 20rem;
  height: auto;
  margin-right: 1rem;
}

.service-card h2 {
  margin: 0;
  padding: 0;
}

.service-card .expand-icon {
  font-size: 3rem;
  width: 3rem;
  margin: 0.25rem;
}

.service-content {
  margin-top: 10px;
  width: 100%;
}

.service-content img {
  max-width: 20rem;
  margin-left: .5rem;
  float: right;
}

.service-content p {
  word-wrap: break-word;
  text-align: justify;
}