form {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  .form-row {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      .geosuggest__input {
        width: 100%;
        -webkit-transition: border 0.2s, box-shadow 0.2s;
        transition: border 0.2s, box-shadow 0.2s;
        margin-bottom: 0;
      }

      .geosuggest__suggests--hidden {
        max-height: 0;
        overflow: hidden;
        border: none;
      }

      .geosuggest__suggests--visible {
        top: 100%;
        max-height: 25em;
        background: white;
        overflow-x: hidden;
        overflow-y: auto;
        list-style: none;
        z-index: 5;
        -webkit-transition: max-height 0.2s, border 0.2s;
        transition: max-height 0.2s, border 0.2s;
      }
      ul.geosuggest__suggests {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      ul.geosuggest__suggests--hidden {
        display: none;
      }

      ul.geosuggest__suggests--visible {
        list-style: none;
        padding: 0;
      }

      li.geosuggest__item {
        font-size: 1.5rem;
        padding: .5em .65em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-color: $secondary-color;
        border: .1rem solid $primary-color;
        color: white;
        border-radius: 0.5rem;
        margin-top: .5rem;

          &:hover,
          &:focus {
            background-color: $primary-color;
          }
        }

      .geosuggest__item__matched-text {
        font-weight: bold;
      }
    }
  }

  label {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    padding: 0.625rem;
    font-size: $text-size;
    box-sizing:border-box;
  }

  textarea {
    min-height: 12rem;
    resize: vertical;
  }

  button[type="submit"] {
    background-color: $secondary-color;
    color: white;
    padding: 0.625rem 1.25rem;
    font-size: $text-size;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: $readable-margin;
    font-weight: bold;
    margin-top: $readable-margin;

    &:hover {
      background-color: $primary-color;
    }

  }

  .highlight {
    border: .25rem solid orange;
  }
}

.status-message {
  position: fixed;
  font-size: $text-size;
  font-weight: bold;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 0.625rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  max-width: $max-width * .5;
  width: 100%;
  text-align: center;

  &.error {
    color: red;
    outline: 0.25rem solid red;
  }

  &.success {
    color: #00ff00;
    outline: 0.25rem solid #00ff00;
  }

  &.info {
    color: orange;
    outline: 0.25rem solid orange;
  }
}

.dismiss {
  position: absolute;
  font-size: 1rem;
  top: 0.1rem;
  right: 0.3rem;
  cursor: pointer;
}

