form {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  .form-row {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  label {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    padding: 0.625rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  textarea {
    min-height: 12rem;
    resize: vertical;
  }

  button[type="submit"] {
    background-color: $secondary-color;
    color: white;
    padding: 0.625rem 1.25rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    font-weight: bold;

    &:hover {
      background-color: $primary-color;
    }
  }

  .status-message {
    position: fixed;
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    width: 30rem;
    text-align: center;
    margin-top: 0.625rem;

    &.error {
      color: red;
      outline: 0.25rem solid red;
    }

    &.success {
      color: #00ff00;
      outline: 0.25rem solid #00ff00;
    }

    &.info {
      color: orange;
      outline: 0.25rem solid orange;
    }
  }

  .dismiss {
    position: absolute;
    font-size: 1rem;
    top: 0.3125rem;
    right: 0.625rem;
    cursor: pointer;
  }

  .highlight {
    border: .25rem solid orange;
  }
}
