.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: $E404-header-font-size;
    margin-bottom: 1rem;
  }

  p {
    font-size: $E404-text-font-size;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  img {
    width: $E404-image-width;
    height: auto;
  }

  .button404 {
    display: inline-block;
    padding: 1rem 1.25rem;
    background-color: $secondary-color;
    font-size: $E404-text-font-size;
    max-width: $E404-button-size;
    width: 100%;
    color: $primary-color;
    border: 2px solid $primary-color;
    text-decoration: none;
    border-radius: 0.25rem;
    margin-top: $readable-margin;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $primary-color;
      color: white;
      text-decoration: underline;
    }
  }
}
