.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: #1c1c1c;

  h1 {
    font-size: $E404-header-font-size;
    margin-bottom: 1rem;
    color: grey;
  }

  p {
    font-size: $E404-text-font-size;
    font-weight: bold;
    margin-bottom: 1rem;
    color: grey;
  }

  img {
    width: $E404-image-width;
    height: auto;
  }

  .button404 {
    display: inline-block;
    padding: 1rem 1.25rem;
    background-color: $secondary-color;
    font-size: $E404-text-font-size;
    max-width: $E404-button-size;
    width: 100%;
    color: $primary-color;
    border: 2px solid $primary-color;
    text-decoration: none;
    border-radius: 0.25rem;
    margin-top: $readable-margin;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }

  @include mq($xs, $sm){
    h1 {
      font-size: $E404-header-font-size-xs;
    }
    img {
      width: $E404-image-width-xs;
    }
    .button404 {
      font-size: $E404-text-font-size-xs;
      max-width: $E404-button-size-xs;
      margin-top: $readable-margin-xs;
    }
  }
  @include mq($sm, $md){
    h1 {
      font-size: $E404-header-font-size-sm;
    }
    img {
      width: $E404-image-width-sm;
    }
    .button404 {
      font-size: $E404-text-font-size-sm;
      max-width: $E404-button-size-sm;
      margin-top: $readable-margin-sm;
    }
  }
  @include mq($md, $lg){
    h1 {
      font-size: $E404-header-font-size-md;
    }
    img {
      width: $E404-image-width-md;
    }
    .button404 {
      font-size: $E404-text-font-size-md;
      max-width: $E404-button-size-md;
      margin-top: $readable-margin-md;
    }
  }
}