.contact-page {
  align-items: center;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: $h3-font-size;

    li {

      a {
        color: $primary-color;
        text-decoration: underline;
        transition: color 0.3s ease, background-color 0.3s ease;

        &:hover {
          background-color: $primary-color;
          color: $secondary-color;
        }
      }
    }
  }

  p {
    font-size: 1.75rem;
  }

  hr {
    border: none;
    height: 0.25rem;
    background-color: black;
    margin: $readable-margin auto;
    max-width: $max-width + 3rem;
  }

  @include mq($xs, $sm){
    ul {
      font-size: $h3-font-size-xs;
    }
    p {
      font-size: 1rem;
    }
    hr {
      max-width: $max-width-xs + 3rem;
    }
  }
  @include mq($sm, $md){
    ul {
      font-size: $h3-font-size-sm;
    }
    p {
      font-size: 1rem;
    }
    hr {
      max-width: $max-width-sm + 3rem;
    }
  }
  @include mq($md, $lg){
    ul {
      font-size: $h3-font-size-md;
    }
    hr {
      max-width: $max-width-md + 3rem;
    }
  }
}
