header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: $primary-color;
}

.end-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $end-contents-max-width;
  width: 100%;
  margin: 0 auto;
  @include mq($xs, $sm) {
    max-width: $end-contents-max-width-xs;
  }
  @include mq($sm, $md) {
    max-width: $end-contents-max-width-sm;
  }
  @include mq($md, $lg) {
    max-width: $end-contents-max-width-md;
  }
}

.header-text {
  color: $secondary-color;
  font-weight: bold;
}

.logo-image {
  width: $logo-width;
  height: auto;
  @include mq($xs, $sm) {
    width: $logo-width-xs;
  }
  @include mq($sm, $md) {
    width: $logo-width-sm;
  }
  @include mq($md, $lg) {
    width: $logo-width-md;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  color: $secondary-color;
  transition: color 0.3s ease;
  font-size: $nav-item-font-size;
  &:hover {
    color: white;
  }
  @include mq($xs, $sm) {
    font-size: $nav-item-font-size-xs;
  }
  @include mq($sm, $md) {
    font-size: $nav-item-font-size-sm;
  }
  @include mq($md, $lg) {
    font-size: $nav-item-font-size-md;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  margin-right: $nav-item-margin;


  &:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    font-size: $nav-item-font-size;
    font-weight: bold;
    color: $secondary-color;
    transition: color 0.3s ease;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  @include mq($xs, $sm) {
    margin-right: $nav-item-margin-xs;
    a {
      font-size: $nav-item-font-size-xs;
    }
  }
  @include mq($sm, $md) {
    margin-right: $nav-item-margin-sm;
    a {
      font-size: $nav-item-font-size-sm;
    }
  }
  @include mq($md, $lg) {
    margin-right: $nav-item-margin-md;
    a {
      font-size: $nav-item-font-size-md;
    }
  }
}
