header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: $primary-color;
}

.end-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $end-contents-max-width;
  width: 100%;
  margin: 0 auto;
}

.header-text {
  color: $secondary-color;
  font-size: $header-font-size;
  font-weight: bold;
}

.logo-image {
  width: $logo-width;
  height: auto;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: $nav-item-margin;
  font-size: $social-icons-font-size;
  color: $secondary-color;
  transition: color 0.3s ease;

  &:hover {
    color: white;
   }
}


.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  margin-right: $nav-item-margin;

  &:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    font-size: $nav-item-font-size;
    font-weight: bold;
    color: $secondary-color;
    transition: color 0.3s ease;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}
