.carousel-container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.carousel .control-dots {
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}

.carousel .control-dots li {
  margin: 0.25rem;
}

.carousel .control-dots li button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: $secondary-color;
  cursor: pointer;
}

.carousel .control-dots li.active button {
  background-color: $secondary-color;
}

.carousel .control-prev,
.carousel .control-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.slide-title {
  font-size: 2rem;
  margin-bottom: 0.1rem;
  text-align: center;
}

.slide-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 68rem;
  height: 30rem;
  margin: 3.125rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
}

.slide-image {
  height: 100%;
  max-width: 50%;
  width: auto;
}

.slide-content {
  width: 100%;
  max-width: 45%;
  margin:auto;
}

.slide-description {
  font-size: 1.25rem;
  text-align: center;
}

.read-more-button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #8CDFFF;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #022533;
  }
}