@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  min-height: 100vh;
}

.force-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 1;
}

.container {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not-found-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.not-found-page p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.not-found-page img {
  width: 300px;
  height: auto;
}


header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #022533;
}

.logo-image {
  width: 25rem;
  height: auto;
}

.header-contents,
.footer-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

.footer-text {
  color: #8CDFFF;
  font-weight: bold;
}

.social-icons a:hover {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0.625rem;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-item {
  display: inline-block;
  color: #8CDFFF;
  font-weight: bold;
}

.nav-item a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 7rem;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #8CDFFF;
}

.header-text {
  color: #8CDFFF;
  font-size: 4.5rem;
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #022533;
  margin-bottom: 1rem;
}

h3 {
  color: #022533;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 0.625rem;
}

a {
  color: #8CDFFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: 0.625rem;
  font-size: 1.5rem;
}

.social-icons a {
  color: #8CDFFF;
  margin-left: 0.625rem;
  font-size: 3rem;
}

.social-icons a:hover {
  color: #fff;
}

.service-area-container {
  flex-direction: row;
}

.business-blurb {
  flex: 1;
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.25rem;
  height: auto;
}


.legend {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
}

.legend-color {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.legend-label {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}


.slide-container,
.testimonial-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 68rem;
  height: 30rem;
  margin: 3.125rem auto;
  border: 4px solid #022533;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

.slide-image {
  width: 100%;
  max-width: 50%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  width: 100%;
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  height: 100%;
}

.test-slide-content {
  width: 100%;
  max-width: 45%;
  margin: auto;
}

.slide-title {
  font-size: 2rem;
  margin-bottom: 0.1rem;
  text-align: center;
}

.slide-description,
.testimonial-quote {
  font-size: 1.25rem;
  text-align: center;
}


.service-slides {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel .slide {
  width: 60rem !important;
}

.carousel .control-dots {
  bottom: 0;;
  margin:auto;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}

.carousel .control-dots li {
  margin: 0.25rem;
}

.carousel .control-dots li button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #8CDFFF;
  cursor: pointer;
}

.carousel .control-dots li.active button {
  background-color: #8CDFFF;
}

.carousel .control-prev,
.carousel .control-next {
  position: absolute; /* Positioned absolutely */
  top: 50%; /* Positioned at the vertical center */
  z-index: 2; /* Placed above the slide content */
  background-color: rgba(0, 0, 0, 1); /* Semi-transparent background */
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel .control-prev:hover,
.carousel .control-next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

.read-more-button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #8CDFFF;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #022533;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.form-row {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}

.form-row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-row > div:not(:last-child) {
  margin-right: 1rem;
}

label {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.625rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button[type="submit"] {
  background-color: #8CDFFF;
  color: white;
  padding: 0.625rem 1.25rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.9375rem;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #022533;
}

.status-message {
  position: fixed;
  font-size: 1.5rem;
  font-weight: bold;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000000;
  padding: 0.625rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  width: 30rem;
  text-align: center;
  margin-top: 0.625rem;
}

.status-message.error {
  color: red;
  outline: 0.25rem solid red;
}

.status-message.success {
  color: #00ff00;
  outline: 0.25rem solid #00ff00;
}

.status-message.info {
  color: orange;
  outline: 0.25rem solid orange;
}

.dismiss {
  position: absolute;
  font-size: 1rem;
  top: 0.3125rem;
  right: 0.625rem;
  cursor: pointer;
}

.highlight {
  border: .25rem solid orange;
}
