@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.container {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #022533;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #8CDFFF;
  margin: 0;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  color: #8CDFFF;
  margin-left: 10px;
}

.social-icons a:hover {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.titleh1{
  color: #8CDFFF;
  font-size: 48px;
  font-weight: bold;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  color: #8CDFFF;
  margin-bottom: 16px;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 10px;
}

a {
  color: #8CDFFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  color: #8CDFFF;
  margin-left: 10px;
}

.social-icons a:hover {
  color: #fff;
}

.service-area-container {
  flex-direction: row;
}

.business-blurb {
  flex: 1;
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 20px;
  height: auto;
}

.map-container {
  flex: 1;
  margin-top: 0;
}


.legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.legend-label {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.service-slide {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  text-align: center;
}

.service-slide h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-slide p {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-slide .read-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8cdfff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.service-slide .read-more-button:hover {
  background-color: #022533;
}

.service-slide-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.service-slide-track {
  display: flex;
  transition: transform 0.5s ease;
}

.testimonial-container {
  margin-top: 40px;
}

.testimonial-slideshow {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.testimonial-slide {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.testimonial-slide.active {
  opacity: 1;
}

.testimonial-slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial-slide h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.testimonial-slide p {
  margin-top: 5px;
  font-size: 20px;
}

.testimonial-slide-controls {
  margin-top: 20px;
  text-align: center;
}

.service-slideshow {
  display: flex;
  transition: transform 0.5s ease;
}

.service-slide {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.service-slide.active {
  opacity: 1;
}

.service-slide-content {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  background-color: white;
  color: black;
}

.slide-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.slide-control:hover {
  opacity: 0.7;
}

.slide-control.prev {
  left: 10px;
}

.slide-control.next {
  right: 10px;
}
