@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import './var.scss';


body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: white;
  min-height: 100vh;
}


h1, h2, h3, h4, h5, h6, p, li {
  max-width: $max-width + 3rem;
  margin-left: auto;
  margin-right: auto;
  color: $primary-color;
}

h1 {
  font-size: $h1-font-size;
  font-weight: bold;
  margin-bottom: $readable-margin;
}

h2 {
  font-size: $h2-font-size;
  font-weight: bold;
  margin-bottom: $readable-margin;
}

h3 {
  font-size: $h3-font-size;
  margin-bottom: $readable-margin;
}

p {
  font-size: $text-size;
  line-height: 1.25;
  margin-bottom: $text-bottom-margin;
  max-width: $max-width;
  color: black;
}

li {
  font-size: $text-size;
  margin-bottom: $text-bottom-margin;
  max-width: $max-width;
  color: black;
  list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.force-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@import '../src/components/header/style';
@import '../src/components/notFound/style';
@import '../src/components/footer/style';
@import '../src/components/leadcapture/style';
@import '../src/components/map/style';
@import '../src/components/services/style';
@import '../src/components/contact/style';;
@import '../src/components/serviceSlides/carousel';
@import '../src/components/serviceSlides/style';