@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
$max-width: 70rem;
$primary-color: #022533;
$secondary-color: #8CDFFF;

@media (max-width: 992px) {
  $max-width: 45rem;
}

@media (max-width: 768px) {
  $max-width: 20rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: white;
  min-height: 100vh;
}

.force-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 1;
}


h1, h2, h3, h4, h5, h6, p, li {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: $primary-color;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 1rem;
}

h3 {
  color: $primary-color;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 0.625rem;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@import '../src/components/header/style';
@import '../src/components/notFound/style';
@import '../src/components/footer/style';
@import '../src/components/leadcapture/style';
@import '../src/components/map/style';
@import '../src/components/services/style';
@import '../src/components/contact/style';
@import '../src/components/serviceSlides/style';