$lg: 1440px;
$md: 812px;
$sm: 567px;
$xs: 0px;

@use 'sass-mq' as mq;

@mixin mq($from: false, $until: false) {
  $mq: '';

  @if $from {
    $mq: '(min-width: #{$from})';
  }

  @if $until {
    $mq: '#{$mq} and (max-width: #{$until})';
  }

  @media #{$mq} {
    @content;
  }
}