@import 'sass-mq/mq';
@use 'sass-mq' as mq with (
  $breakpoints: (
    xs: $xs,
    sm: $sm,
    md: $md,
  )
);

@mixin mq($from: false, $until: false) {
  $query: '';

  @if $from {
    $query: '(max-width: #{$from})';
  }

  @if $until {
    $query: '#{$query} and (min-width: #{$until})';
  }

  @media #{$query} {
    @content
  }
}

