//Screen Sizes
$lg: 1920px;
$md: 1280px;
$sm: 768px;
$xs: 576px;

//General
$max-width: 70rem;
$primary-color: #022533;
$secondary-color: #8CDFFF;
$readable-margin: 1rem;
$text-bottom-margin: 0.5rem;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem; //Used for Title on Slides
$text-size: 1.5rem;

//Header Footer
$logo-image-width: 20rem;
$social-icons-font-size: 1.5rem;
$nav-item-margin: 6rem;
$nav-item-font-size: 2.5rem;
$header-font-size: 4.25rem;
$logo-width: 20rem;
$end-contents-max-width: 100rem;

//Map
$legend-item-margin: 1.25rem;
$legend-color-margin: 0.5rem;

//Slides
$slide-text: 1.25rem;
$slide-height: 30rem;

//404 Page
$E404-image-width: 40rem;
$E404-header-font-size: 3rem;
$E404-text-font-size: 2rem;
$E404-button-size: 30rem;
