.service-area-container {
  flex-direction: row;
}

.business-blurb {
  flex: 1;
  text-align: center;
  max-width: $max-width;
  margin: 0 auto;
  padding: 1.25rem;
  height: auto;
}

.map-container {
  flex: 1;
  height: $map-height;
  margin: 0 auto;
  @include mq($xs,$sm){
    height: $map-height-xs;
  }
  @include mq($sm,$md){
    height: $map-height-sm;
  }
  @include mq($md,$lg){
    height: $map-height-md;
  }
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: $readable-margin;

  .legend-item {
    display: flex;
    align-items: center;
    margin-right: $legend-item-margin;

    .legend-color {
      width: $legend-item-margin;
      height: $legend-item-margin;
      margin-right: $legend-color-margin;
    }

    .legend-label {
      color: black;
      font-size: $text-size;
    }
  }
}
