.service-area-container {
  flex-direction: row;
}

.business-blurb {
  flex: 1;
  text-align: center;
  max-width: $max-width;
  margin: 0 auto;
  padding: 1.25rem;
  height: auto;
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: $readable-margin;
  margin-bottom: 0.625rem;

  .legend-item {
    display: flex;
    align-items: center;
    margin-right: $legend-item-margin;

    .legend-color {
      width: $legend-item-margin;
      height: $legend-item-margin;
      margin-right: $legend-color-margin;
    }

    .legend-label {
      color: black;
      font-size: $text-size;
    }
  }
}
